{% extends "base.html" %}
{% block start %}



<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <h2>Add Recipes</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe name</label>
          <input name="recipe_name" value="{{recipe.recipe_name}}" required type="text" class="form-control">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Recipe description</label>
          <textarea name="recipe_description" value="" class="form-control" required>{{recipe.recipe_description}}</textarea>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe image</label>
            <input name="recipe_image" type="file" class="form-control">
          </div>
        
        <button type="submit" class="btn btn-success">Add Recipe</button>
      </form>

      <hr>
      
      <div class="mt-5">
        <div class="mx-auto col-6">
         <form>
         <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Search Recipe</label>
              <input name="search"  type="text" class="form-control">
              
       

          </div>
          <button type="submit" class="btn btn-primary mb-5">Search</button>
        </form>
        </div>
      </div>



      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Recipe name</th>
            <th scope="col">Recipe description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.recipe_description}}</td>
            <td>
              <img src="{{ recipe.recipe_image.url }}" style="height: 100px;" alt="img">
          
            <td>
                <a href="/delete-recipe/{{recipe.id}}/" class="btn btn-danger m-2">delete </a>
                <a href="/update-recipe/{{recipe.id}}/" class="btn btn-success">update </a>  
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
    
    
{% endblock %}